<app-nav></app-nav>

<div class="starter-template">
    <h1 [innerHTML]="pageTitle" [ngClass]="_counter % 2 == 0 ? 'blue' : 'red'"
        [style.font-size]="_counter % 2 == 0 ? '48px' : '18px'"
        (click)="plus()"></h1>
    <div>
        The _counter % 3 =
        <span [ngSwitch]="_counter % 3">
            <span *ngSwitchCase="0">0</span>
            <span *ngSwitchCase="1">1</span>
            <span *ngSwitchDefault>2</span>
        </span>
    </div>
    <div *ngIf="_counter % 2 == 0" class="content-wrapper text-left col-lg-10">
        <div class="col-lg-6">
            <app-listbox [inputPageTitle]="pageTitle"></app-listbox>
        </div>
        <div class="col-lg-6">
            <app-car-detail></app-car-detail>
        </div>
    </div>
</div><!-- /.container -->